body {
    font-family: 'Poppins', Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: lightblue;
}


.btn{
    background:  linear-gradient(to right, #595a5b 0%, #9ad0d4 140%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: 50px 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}
.container {
    text-align: center;
}


.password-container {
    margin-top: 20px;
   
}

#password {
    width: 300px;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: darkgreen;
}
